<!doctype html>
<html lang="en">



  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Izlet</title>
  </head>


  
  <body>
      
    <!-- Dodana bootstrap knjižnica -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


    
<div class="container">

    <div class="row">
        <img src="/slika"> 
    </div>

    %import datetime
    %if datetime.datetime.now().date() < izlet.datum_konec:

    <div class="row" >

        <div class="col">

            <!-- Form za dodajanje nakupov k izbranem izletu. --> 

            <form action={{f"/{id_uporabnika}/izlet/{st_izleta}"}} method="POST">

                <div class="mb-3">
                    <label class="form-label">Ime izdelka:</label><br>
                    <input class="form-control" type="text" id="ime_izdelka_ali_storitve" name="ime_izdelka_ali_storitve" placeholder="ime"><br>
                </div>

                <div class="mb-3">
                    <label class="form-label">Ceno izdelka:</label><br>
                    <input class="form-control" type="number" id="cena" name="cena" placeholder="10"><br>
                </div>

                <div class="mb-3">
                    <label class="form-label">kolicina:</label><br>
                    <input class="form-control" type="number" id="kolicina" name="kolicina" placeholder="1"><br>
                </div>
                    <input type="submit" value="Dodaj nakup" class="btn btn-primary">
            
              </form>
 
        </div>

    %end

        <div class="col">

    <!-- To je tabela, kjer so zapisani glavni podatki tvojega izleta. --> 

    <table class="table table-success">

        <thead>

            <tr>
                % aktualni = izlet
                <th scope="col">Destinacija: {{aktualni.destinacija}}</th>
                <th scope="col"> (od {{aktualni.datum_zacetek}} do {{aktualni.datum_konec}})</th>
            </tr>

        </thead>

        <tbody>

            <tr>
                <td>
                    Poraba do zdaj:
                </td>

                <td>
                    {{aktualni.skupna_poraba()}} € ({{round(aktualni.skupna_poraba_procenti(), 2)}} %)
                </td>

            </tr>

            <tr>

                <td>
                    Trenutno stanje:
                </td>

                <td>
                    {{round(aktualni.trenutno_stanje, 3)}} €
                </td>

            </tr>

        </tbody>

    </table>

    <!-- To je tabela, kjer so nanizani vsi nakupi v izbranem izletu. --> 

    <h3>Nakupi</h3>

    <table class="table table-success">

        <thead>

            <tr>

                % aktualni = izlet

                <th scope="col">Ime</th>
                <th scope="col">Cena</th>
                <th scope="col">Količina</th>
                <th scope="col">Odstotek</th>
                <th scope="col"></th>

            </tr>

        </thead>

        

        <tbody>

            %for i,nakup in enumerate(izlet.nakupi):

            <tr>

                <td>
                    {{nakup.izdelek_ali_storitev}}            
                </td>

                <td>
                    {{nakup.cena}}
                </td>

                <td>
                    {{nakup.kolicina}}
                </td>

                <td>
                    {{round(((nakup.cena * nakup.kolicina) / izlet.zacetno_stanje) * 100)}} %
                </td>
                
                <td>
                    %if datetime.datetime.now().date() < izlet.datum_konec:
                    <form action={{f"/{id_uporabnika}/izlet/{st_izleta}/izbrisi/{i}"}} method="GET">

                       <input type="submit" value="X" class="btn btn-primary">

                    </form>

                    %end

                </td>

            </tr>

            %end
            
        </tbody>

    </table>
  
        </div>

        <form action={{f"/{id_uporabnika}"}} method="GET">


            <input type="submit" value="Nazaj" class="btn btn-primary">
    
         </form>

    </div>

</div>

  </body>

</html>